body{
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 800;
}
.navbar {
    overflow: hidden;
    background-color:orange;
   
   
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #position{
padding-left: 70%;

  }
  #re{
      font-weight: 800;
  }
  .flaxibal-containar{
display: flex;



  }
  .hero{
width: 50%;
margin-left: 7%;
margin-right: 7%;


  }
  .hero-img{

width: 50%;
margin-bottom: 2%;
  }
  .link-button{
     text-decoration: none;
     border: 10px 40px;
     border-radius: 20px;
     background-image: linear-gradient(orange,tomato);
     color: white;
     padding: 10px 30px;

  }
  .banner{
    background-image: url(back1.jpg);
    background-repeat: no-repeat;
  background-position: 0vh;
  margin-bottom: 25%;
  padding-top: 6%;
  padding-bottom: 4%;
  margin-top: 8%;

  }
  #midwrit{
    margin-top: 0%;
    margin-right: 12%;
    margin-left: 8%;
    margin-bottom: 2%;
   

  }
.midimg{
  margin-right: 8%;
  margin-top: 10%;
  margin-bottom: 0;
  width: 50%;
}
.link-button2{
  text-decoration: none;
     border: 10px 40px;
     border-radius: 30px;
     background-image: linear-gradient(orange,tomato);
     color: white;
     padding: 10px 30px;

}
  